@keyframes cursor-blink {
  0% {
    color: black;
  }
  50% {
    color: transparent;
  }
  100% {
    color: black;
  }
}

.aj-command-line {
  caret-color: transparent;
  padding: 0;
  border: 0;
  width: 100%;
  min-height: 2ch;
  white-space: break-spaces;
}

.aj-command-line:focus {
  outline: none;
}

.aj-command-line.aj-active::after {
  content: '█';
  animation-name: cursor-blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.aj-command-line:not(.aj-active)::after {
  content: '█';
  color: transparent;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
}

p {
  margin: 0;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

code {
  font-family: monospace;
}
